# VS Code project settings
/.vscode

# Build executables
/bin

# Development notes & tmp files
/dev

# (not licensed to upload in public)
/assets

__pycache__
**/.claude/settings.local.json
