# VS Code project settings
/.vscode

# Build executables
/bin

# clangd server config
/compile_flags.txt

# Development notes & tmp files
/dev

# (not licensed to upload in public)
/assets
